.casa {
    border: 1px solid black;
    width: 500px;
    height: 400px;
    margin: auto;

    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-rows: 1fr 1fr;
}
.segundo-nivel {
    background-image: url("../assets/segundo.webp");

    display: flex;
    align-items: center;
    justify-content: center;
}
.ventana {
    background-image: url("../assets/ventana.jpg");
    width: 90%;
    height: 90%;
}
.techo {
    background-image: url("../assets/techo.jpg");
}
.pared {
    background-color: gray;
    width: 100%;
    height: 25px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.primer-nivel {
    background-image: url("../assets/primer.jpg");
    
    background-size: 50%;

    border-top: 5px solid black;

    display:flex;
    align-items: center;
    justify-content: center;
}
.puerta {
    background-image: url("../assets/puerta1.jpg");
    width: 80px;
    height: 160px;

}
.garage {
    background-image: url("../assets/garage.jpg");
    background-size: 50%;
    
    border-left: 5px solid black;

    display: flex;
    align-items: end;
    justify-content: center;
}
.porton {
    background-image: url("../assets/porton2.jpg");
    width: 90%;
    height: 80%;
}
.pared div{
   background-image: url("../assets/techo.jpg");
    border: 1px solid black;
    width: 60px;
    
}